@import '/src/styles/variables.scss';

.input {
  background-color: #fff;
  max-width: 610px;
  width: 100%;
  border: none;
  outline: none;
  height: 71px;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 22px;
  padding: 0 20px;
  color: $text;
}